section {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: repeat(7, 7fr);
  gap: 0px;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.navy {
  background-color: navy;
}

.purple {
  background-color: purple;
}
