header {
  border: 1px solid #efefef;
  padding: 20px 0px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}

nav {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navi {
  display: flex;
}

.logo > img {
  width: auto;
}

.navi > li {
  padding: 15px 15px;
  border-radius: 70px;
  background-color: transparent;
  border: none;
}

.ably {
  color: rgb(238, 66, 66);
}

.navi > li:hover {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}

footer {
  padding: 20px 0px;
  position: fixed;
  bottom: 50px;
  right: 50px;
}

button {
  background-color: #ff5160;
  border: none;
  border-radius: 20px;
  padding: 20px 20px;
  color: white;
  font-weight: bold;
}
