.third {
  padding: 200px 0;
}

.third > .contents {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.third > .contents > h6 {
  font-size: 18px;
  color: #757575;
  margin-bottom: 20px;
  font-family: "NoonnuBasicGothicRegular";
}

.third > .contents > h4 {
  font-size: 32px;
  color: black;
  font-weight: bold;
  line-height: 1.3;
  font-family: "NoonnuBasicGothicRegular";
  margin-bottom: 30px;
}

.third > .contents > .fashion {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.third > .contents > .fashion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.third > .contents > .fashion > .photo {
  width: 100%;
  height: 480px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
  align-items: center;
  gap: 20px;
  color: white;
  padding-bottom: 50px;
}

.third > .contents > .fashion > .photo > span {
  font-size: 18px;
}

.third > .contents > .fashion > .photo > div {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.3;
}

.third > .contents > .fashion > .photo > button {
  background-color: white;
  border-radius: 20px;
  border: none;
  padding: 14px 16px;
}

.firstphoto {
  background-image: url("ably2.png.jpg");
  background-size: cover;
}

.secondphoto {
  background-image: url("ably3.png.jpg");
  background-size: cover;
}
