.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.iconbox {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 6px;
  padding: 40px 30px 40px 30px;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.icon {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
