.container {
  width: 50vw;
  height: 50vh;
  border: 3px solid red;

  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
}

.box {
  width: 10%;
  height: 10%;
  border: 2px solid black;
}
