.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid blue;
}

.photobox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.santo {
  display: flex;
  flex-direction: column;
}

.photo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}
